html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  background: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-area {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  margin-left: 250px; 
}

.app-layout.login-page-layout {
  display: flex;
  flex-direction: row;
}

.app-layout.login-page-layout .sidebar-area {
  display: none; 
}

.app-layout.login-page-layout .main-area {
  margin-left: 0; 
  width: 100%;
}

@media (max-width: 800px) {
  .main-area {
    margin-left: 0;
  }
}
