.resultTitle{
    margin-top: 57px;

    font-family: Agbalumo;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 5%;
}

.prevScore{
    margin-top: 54px;

    font-family: Agbalumo;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 5%;
}

.practiceEnd{
    width: 463px;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    margin-top: 60px;

    font-family: Agbalumo;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 5%;
}