.registertitle{
    font-family: Agbalumo;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin-bottom: 38px;
    text-align: center;
  }

.appbackground{
    position: relative;
    overflow: hidden;
  }