@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}
// Login

.login {
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  &__card {
    @include pc {
      box-sizing: border-box;
      width: 450px;
      height: 384px;
      padding-top: 16px;
      margin-top: 159px;
      margin-bottom: 158px;
    }
    @include sp {
      margin: 201px 20px 200px;
      max-width: 350px;
      width: 100%;
      height: 299px;
      padding-top: 12px;
    }
  }
  &__button-signup {
    @include pc {
      position: absolute;
      right: 100px;
    }
  }
  &__page-title {
    @include pc {
      margin-bottom: 38px;
    }
    @include sp {
      margin-bottom: 30px;
    }
  }
  &-form__field--password {
    @include pc {
      margin: 25px 0 35px 0;
    }
    @include sp {
      margin: 18px 0 28px 0;
    }
  }
  &-form__button {
    letter-spacing: 0.05em;
    @include pc {
      margin-bottom: 90px;
      height: 36px;
    }
    @include sp {
      margin-bottom: 70px;
      height: 28px;
    }
  }
}
