@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

//スコア表示遅延用
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scorelist {
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    width: 100%;
    letter-spacing: 0.05em;
    min-height: 300px;

    @include pc {
      max-width: 880px;
      margin-top: 166px;
      margin-bottom: 134px;
      padding: 16px 70px 0;
    }
    @include sp {
      max-width: 350px;
      margin-top: 68px;
      margin-bottom: 91px;
      padding: 0 20px;
    }
  }
  &__individual-lavel {
    @include pc {
      font-size: 20px;
    }
    @include sp {
      font-size: 18px;
    }
  }
  &__message {
    text-align: center;
    margin-top: 50px;
    color: #303030;

    &--error {
      color: #d9534f;
      font-weight: bold;
    }
  }

  &__overall-stats {
    @include pc {
      margin-top: 30px;
      margin-bottom: 132px;
    }
    @include sp {
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }

  &__overall-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include pc {
      margin-top: 37px;
    }
    @include sp {
      margin-top: 20px;
    }
  }

  &__overall-label {
    font-weight: 400;
    letter-spacing: 0.04em;
    color: rgba(48, 48, 48, 1);

    @include pc {
      font-size: 18px;
    }
    @include sp {
      font-size: 16px;
    }
  }

  &__overall-value {
    font-weight: 700;
    font-size: 50px;
  }
  &__progress-bar-wrap {
    position: relative;

    @include pc {
      padding-left: 20px;
      margin-top: 20px;
    }
    @include sp {
      margin-top: 22px;
    }
  }
  &__progress-bar {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
  }

  &__progress-fill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    min-width: 0%;
    transition: width 0.7s ease-in-out;

    &--accuracy {
      background-color: rgba(0, 242, 255, 1);
    }
    &--inaccuracy {
      background-color: rgba(255, 83, 83, 1);
    }
  }

  &__individual-scores-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @include pc {
      gap: 20px;
    }
    @include sp {
      gap: 25px;
    }
  }

  &__individual-score-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  &__item-score-bar-wrap {
    width: 100%;
    align-items: center;

    @include pc {
      padding-left: 20px;
    }
  }

  &__item-score-bar-container {
    height: 31px;
    background-color: rgba(217, 217, 217, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-score-bar-fill {
    height: 100%;
    background-color: #00ff09;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.7s ease-in-out;
    width: 0%;
    min-width: 0%;
  }

  &__item-score-value {
    position: relative;
    z-index: 1;
    color: #333;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.04em;
    text-align: center;
    transform: translateY(-9%);
    opacity: 0;

    animation: fadeInText 0.3s forwards;
    animation-delay: 0.9s;
  }

  &__item-score-date {
    display: block;
    color: rgba(48, 48, 48, 1);

    white-space: nowrap;
    width: 100%;
    text-align: end;
    @include pc {
      font-size: 16px;
      margin-top: 7px;
    }
    @include sp {
      font-size: 12px;
      margin-top: 9px;
    }
  }

  &__item-accuracy-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #555;

    .scorelist__item-accuracy {
      font-weight: 600;
      color: #008000;
    }
    .scorelist__item-inaccuracy {
      font-weight: 600;
      color: #ff0000;
    }
  }
  &__oacuracy-item {
    @include pc {
      height: 80px;
    }
    @include sp {
      height: 82px;
    }
  }
  &__inaccuracy-item {
    @include pc {
      margin-top: 30px;
      height: 80px;
    }
    @include sp {
      margin-top: 20px;
      height: 82px;
    }
  }
  &__no-data {
    padding: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 20px;
  }
}
