@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}
.typing-practice {
  &__container-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sp {
      width: 100%;
      max-width: 390px;
    }
  }

  &__container {
    position: relative;
    @include pc {
      padding: 0 22px;
    }
    @include sp {
      padding: 0 21px;
    }
  }

  &__countdown-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include pc {
      font-size: 250px;
    }
    @include sp {
      font-size: 200px;
    }
  }

  &__problems-display {
    border: solid 4px #303030;
    background-color: #1dd800;
    border-radius: 10px;
    height: 225px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;

    @include pc {
      margin-top: 52px;
      font-size: 30px;
      width: 100%;
      max-width: 837px;
    }
    @include sp {
      margin-top: 21px;
      font-size: 24px;
      width: 100%;
      max-width: 350px;
    }

    .current-problem {
      min-height: 2.5em;
      line-height: 1.5;
      color: #333;
      word-break: break-word;
      white-space: pre-wrap;
    }

    .typed-correct {
      color: rgb(107, 92, 92);
    }

    .untyped {
      // 未入力部分の文字色
      color: #303030;
    }

    .error-char {
      // 入力ミスがある場合の現在の文字の色
      color: #dc3545;
      text-decoration: underline;
    }
  }

  &__typing-input {
    text-align: center;
    border-radius: 10px;
    border: solid #303030;
    height: 105px;
    letter-spacing: 0.04em;
    font-size: 18px;
    caret-color: transparent;
    box-sizing: border-box;
    @include pc {
      margin-top: 48px;
      width: 100%;
    }
    @include sp {
      margin-top: 35px;
      width: 100%;
      max-width: 350px;
    }
  }
  &__input-error-message {
    color: red;
    margin-top: 10px; // エラーメッセージと入力フィールドの間に少しスペースを追加
    font-size: 0.9em;
  }
  &__back-button {
    width: 343px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px #303030;
    margin-top: 30px;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: none;
      transform: translateY(4px);
    }
  }
  &__error-display-area {
    margin-top: 30px;
    text-align: center;
  }
}
