  .mypage-Page{
    position: relative;
    height: 100vh;
  }

  .mypage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    background-color: #FFFFFF;
    box-shadow: 3px 6px 10px 4px #00000040;
    padding: 16px 70px 90px;
    max-width: 880px;
    margin-inline: auto;
    align-items: center;
    border-radius: 10px;
  }

  .profilesection-m h2{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .scoresection-m h2{
    margin-bottom: 22px;
  }
  
  .roulletsection-m h2{
    margin-bottom: 6px;
  }

  .section{
    margin-bottom: 30px;
  }

  .profile{
    display: flex;
  }

  .profile:first-child{
    margin-bottom: 10px;
  }

  .mypage-Page .progress-container {
    max-width: 690px;
    margin-left: 25px;
  }

  .try-btn {
    padding: 21px 0;
    height: 88px;
    max-width: 450px;
    width: 100%;
    border: 1px solid #303030;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(180deg, #E1FBE5 0%, #1EB535 100%);
    margin-inline: auto;
    align-items: center;
    display: block;
  }

  .try-btn span{
    font-weight: 700;
    font-size: 46px;
    text-align: center;
  }

  .score-link,.roulette-link{
    color: #000000;
    position: relative;
    cursor: pointer;
    text-align: right;
    display: block;
    width: fit-content;
  }

  .link::before{
    width: 100%;
    position: absolute;
    content: "";
    border-right: 1px solid #303030;
    border-bottom: 1px solid #303030;
    transform: skew(60deg);
    top: 50%;
    transition: width 0.2s ease;
  }

  .link1{
    width: 119px;
    margin: 30px 49px 0 auto;
  }

  .link1::before{
    width: 100%;
    height: 8px; 
  }

  .link1:hover::before{
    width: 137px;
  }

  .link2{
    width: 149px;
    margin: 30px 45px 0 auto;
  }

  .link2::before{
    width: 100%;
    height: 8px; 
  }

  .link2:hover::before{
    width: 167px;
  }

  .roulette-table{
    margin-left: 25px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #303030;
  }
  
  .roulette-tablem td {
    padding: 4px 0;
  }

  .roulette-tablem th{
    background-color:#BBC8FF !important;
  }

  .roulette-table thead tr th:nth-child(1){
    width: 343px;
  }

  .roulette-table thead tr th:nth-child(2){
    width: 347px;
  }

  .score-section .link::after {
    width: min(100%, 100px);
  }

  .score-section .link{
    margin: 30px 19px 0 0;
  }

@media (max-width: 768px) {
    .mypage-container {
      max-width: 350px;
      padding: 12px 20px 106px;
    }

    .try-btn {
      max-width: 310px;
    }
    
    .roulette-table-container{
      overflow-x: auto;
    }
    
    .roulette-table{
    table-layout: fixed;
    width: 500px;
    }

    .roulette-table thead tr th:nth-child(1){
    max-width: 250px;
    }

    .roulette-table thead tr th:nth-child(2){
    max-width: 250px;
    }

    .profile{
    margin-left: 25px;
    font-size: 12px;
    }

    .score-link,.roulette-link,score-date{
    font-size: 12px;
    text-align: center;
    }

    .link1{
      max-width: 98px;
      margin: 18px 23px 0 auto;
    }

    .link1:hover::before{
      max-width: 116px;
    }

    .link2{
      max-width: 120px;
      margin: 18px 18px 0 auto;
    }

    .link2:hover::before{
      max-width: 138px;
    }

}

@media (max-width:420px) {
    .try-btn {
      padding: 21px 0
    }
}