.roulette-register-Page{
  position: relative;
  height: 100vh;
}

.roulette-register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-width: 880px;
  background-color: #FFFFFF;
  box-shadow: 3px 6px 10px 4px #00000040;
  padding: 16px 70px 133px;
  margin-inline: auto;
  align-items: center;
  border-radius: 10px;
}

.roulette-register-form{
  max-width: 720px;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}

.formcontainer{
  max-width: 720px;
  margin-bottom: 29px;
}

.titleform{
  width: 100%;
  height: 40px;
  max-width: 720px;
  border-radius: 5px;
  border: 1px solid #303030;
  padding: 0 15px;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 20px;  
  line-height: 100%;
  letter-spacing: 0.05em;
}

.formcontainer2{
  border: 1px solid #000000;
  padding: 15px 15px 21px;
}

.roulette-register-Page p{
  margin-bottom: 2px;
}

.option-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  align-items: right;
}

.option-container-flex{
  display: flex;
  gap: 11px;
}

.option-input{
  width: 100%;
  max-width: 600px;
  height: 36px;
  padding: 0 13px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.deretebutton{
  max-width: 79px;
  height: 34px;
  padding: 12px 27px;
  border: 1px solid #000000;
  font-size: 10px;
  color: #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 0px #000000;
  letter-spacing: 0.05em;
}

.plusbutton{
  width: 100%;
  max-width: 691px;
  height: 34px;
  padding: 13px 0 11px;
  margin-top: 34px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 3px 0px #000000;
  font-size: 10px;
}

.rouletteregister-btn{
  border-radius: 5px;
  width: 100%;
  max-width: 720PX;
  height: 36PX;
  margin-top:29px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px 3px 0px #000000;
}

.rouletteregister-btn span{
  font-weight: 700;
  color: #000000;
}

.update-btn{
  position: relative;
  background: linear-gradient(180deg, #C2F3FF 0%, #00CCFF 100%);
  overflow: hidden;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 9px;
}

.update-btn:before{
  background: linear-gradient(360deg, #C2F3FF 0%, #00CCFF 100%);
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 0;
}

.update-btn:hover::before {
  opacity: 1;
}

.update-btn > span {
  position: relative;
  z-index: 1;
}

.delete-btn2{
  background: #D9D9D9;
  border-radius: 5px;
  width: 100%;
  max-width: 720PX;
  height: 36PX;
  padding: 10px 10px;
  margin-top:29px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px 3px 0px #000000;
}

.rouletteregister-btn:hover,.plusbutton:hover,.deretebutton:hover,.delete-btn2:hover {
    box-shadow: none;
    transform: translateY(3px);
  }  

@media (max-width: 768px) {

  .roulette-register-container {
    padding: 12px 20px 100px;
  }

  .roulette-register-container p{
    font-size: 12px;
  }

  .formcontainer2{
  padding: 10px 5px 14px;
  }

  .option-input{
    font-size: 12px;
  }
  
  .plusbutton{
    height: 34px;
    padding: 12px 0;
    margin-top: 30px;
  }

  .deretebutton{
    align-self: flex-end;
    height: 20px;
    padding: 5px 27px;
  }

  .option-container-flex{
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
  }

  .rouletteregister-btn{
    margin-top:25px;
  }

  .update-btn{
    margin-bottom: 12px;
  }
}