.roulette-Page {
  position: relative;
  height: 100vh;
}

.roulette-Page-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roulette-container {
  display: flex;
  align-items: center;
}

.roulette {
  border: 5px solid #303030;
  background-color: #FFFFFF;
  width: 450px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 26px 27px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.sankaku{
  font-size: 45px;
}

.roulette-text {
  text-align: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
  animation: scrollText 2s linear infinite;
}

.roulette-button{
  width: 343px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 0px 0px #000000;
  align-items: center;
  text-align: center;
  margin-top: 58px;
}

.spinning .roulette-text {
  animation: scrollText 1s linear infinite; 
}

@keyframes scrollText {
  0% { transform: translateY(10%); } /* 最初の位置 */
  100% { transform: translateY(-100%); } /* 終了位置 */
}

@media (max-width: 768px) {
  .roulette {
    width: 323px;
    padding: 26px 19px;
  }

}

@media (max-width: 390px) {
  .roulette {
    max-width: 450px;
    width: 100%;
    height: auto;
  }

  .roulette-button{
    max-width: 343px;
    width: 100%;;
  }
}
