.title {
  font-size: 90px;
  text-shadow: 7px 0px 0px #FFFFFF;
  margin-inline: auto;
  letter-spacing: 5%;
  white-space: nowrap;
  }

.btn-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 159px;
  }

.top-container .loginbtn {
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }

.top-container .loginbtn:hover {
    transform: translateY(3px);
  }

.top-container .signupbtn{
    position: static;
    top: auto;
    right: auto;
    transform: none;
  }

.top-container .signupbtn:hover {
    transform: translateY(3px);
  }

.top-Page{
  position: relative;
  height: 100vh;
  }
  
.top-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.space{
  display: none;
  }
  
@media (max-width: 768px) {

  .title {
  font-size: 70px;
  }

  .space{
    display: block;
  }

  .btn-container {
    margin-top: 63px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  

}