.title {
  font-size: 90px;
  text-shadow: 7px 0px 0px #FFFFFF;
  margin-inline: auto;
  letter-spacing: 5%;
  }

  .btn-container {
  margin: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 159px;
  }

  .loginbtn{
    position: relative;
    left: 0px;
  }

  .signupbtn{
    position: relative;
    right: 0px;
  }

  
  .top-container{
  padding-top: 250px;
  }

  .top-Page{
  padding: 0 54px 0 55px;
}

  .space{
  display: none;
}
  
@media (max-width: 768px) {

  .title {
  font-size: 70px;
  }

  .space{
    display: block;
  }

  .btn-container {
  margin-top: 63px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  }
  

}