  header{
    position: relative;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    height: 53px;
  }

  .headertitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Agbalumo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #303030;
    text-shadow: 2px 1px 0px #FFFFFF;
    white-space: nowrap;
    margin-inline: auto;
}

.loginbtn{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
} 

.signupbtn,.logoutbtn{
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
} 


@media (max-width: 768px) { 
  .headertitle{
    left: auto;
    left: 20px;
    transform: translateY(-50%);
}

  .loginbtn{
    left: auto;
  } 

  .signupbtn,.logoutbtn,.loginbtn{
    right: 20px;
  } 

}
