  header{
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    padding: 9px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .headertitle {
    font-family: 'Agbalumo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #303030;
    text-shadow: 2px 1px 0px #FFFFFF;
    white-space: nowrap;
    margin-inline: auto;
}

.aaa{
  margin-left: 353px;
  
}


@media (max-width: 768px) { 
  header{
    padding: 12px 20px;
  }

  .header{
    justify-content: space-between;
    gap: clamp(10px, 20vw, 353px);
  }
}
