#animation{
    display: inline-block;
    font-size: 20px;
    margin: auto;
    position: relative;
    bottom: 20%;
    font-weight: bold;
    /* animation: rotation 2s linear infinite;
    opacity: 0; */
}
/* @keyframes rotation{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg)
    }
} */