/* 全体 */
.rouletteListBody{
    padding: 109px 0 98px;
}
.rouletteListBody .form{
    gap: normal;
}
.rouletteListBody .baseBG{
    padding: 16px calc((95 / 1280) * 100vw) 132px;
}
.rouletteListBody button{
    border: none;
    border-bottom: solid 2.5px #000;
}
.rouletteListBody button:hover{
    border-bottom: none;
}

/* タイトル部分 */
.rouletteListBase{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.rouletteListBody .subTitle{
    position: relative;
    left: calc((-25 / 1280) * 100vw);
}
.newRoulette{
    width: 80px;
}

/* リスト表部分 */
.thDate{
    width: calc((189 / 1280) * 100vw);
}
.thButton{
    width: 80px;
}
th{
    box-sizing: border-box;
}

.ediButton{
    background-color: rgba(187, 200, 255, 1);
}
.rouletteList button{
    width: 50px;
    font-size: 10px;
}


@media screen and (max-width: 390px) {
    .rouletteList{
        width: 500px;
        box-sizing: border-box;
    }
    .titleTD{
        width: 220px;
        box-sizing: border-box;
    }
    .dateTD{
        width: 140px;
        box-sizing: border-box;
    }
    .rouletteList button{
        width: 36px;
    }
}
