/* タイピング画面共通部分 */
.typingArea{
    margin: auto;
    text-align: center;
    width: calc((880 / 1280) * 100vw);
    padding: 20px 20px 183px;
    background-color: rgba(255, 255, 255, 0.2);
}


/* 全体 */
.typingStart .typingArea{
    padding: 20px 20px 183px;
}

/* スタートボタン */
.typingStartButton{
    font-family: "Agbalumo", system-ui;
    width: calc((100vw - 1280px) / 4 + 463px);
    padding: 52px 0;
    box-shadow: 0 4px #000;
    border-radius: 10px;
    margin-top: 133px;
}
.typingStartButton:hover{
    box-shadow: none;
}

@media screen and (max-width: 390px) {
    .typingArea{
        box-sizing: border-box;
        width: 100%;
    }
    .typingStart .typingArea{
        padding: 20px 20px 183px;
    }
    .questionNumber{
        font-size: 24px;
        padding: 0 35px;
    }
    
    .typingStartButton{
        width: 350px;
        margin-top: 115px;
    }

}
