.typingStartBody{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.typingArea{
    margin: auto;
    text-align: center;
    width: calc((100vw - 1280px) / 1.7 + 880px);
    padding: 20px 0 183px;
    background-color: rgba(255, 255, 255, 0.2);
}
.questionNumber{
    font-size: 30px;
}
.typingStart{
    font-family: "Agbalumo", system-ui;
    font-size: 30px;
    width: calc((100vw - 1280px) / 4 + 463px);
    padding: 52px 0;
    box-shadow: 0 4px #000;
    border-radius: 10px;
    margin-top: 133px;
}
.typingStart:hover{
    box-shadow: none;
}

@media screen and (max-width: 390px) {
    .typingArea{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px 183px;
    }
    .startButton{
        width: 350px;
        margin-top: 115px;
    }
}
